@import "tailwindcss";
@import "@heroui/styles";

/* Tells Tailwind to look for HeroUI components to style them */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}